# Git and IDE
.git
.github
.gitignore
.cursor

# Node / Angular
node_modules
dist
.angular
coverage

# Tests and tooling
e2e
playwright.config.ts
**/*.spec.ts
src/test

# Environments
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Project extras
.editorconfig
prettier*.*
vitest*.*
